<div class="form-group row">
  <label class="col-md-2 col-form-label text-md-right">${displayString}</label>
  <div class="col-md-10">
    <!-- $BeginBlock elms --><div class="form-check-inline">
      <input type="checkbox" name="${name}" id="${elmId}" value="${elmValue}" class="form-check-input">
      <label for="${elmId}"  class="form-check-label">${elmDisplayString}</label>
    </div><!-- $EndBlock elms -->${descriptionTag}
  </div>
  <input type="hidden" value="" name="${name}" id="${id}" />
</div>
